*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: small;
}


@media only screen and (min-width: 760px )  {
    
    body {
        font-size: medium;
    }    

}
